# Dependency directories
node_modules/
jspm_packages/

# Compiled output
# This assumes your 'outDir' in tsconfig.json is 'dist' or 'build'
dist/
build/
out/

# TypeScript-specific
*.tsbuildinfo
*.js.map

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Testing
coverage/
.nyc_output